.Container {
    display: flex;
}
.coinRow{
    margin: 0px 10px;
    border-top: 1px solid #ccc;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.coinRow:hover{
    background-color: rgba(221, 220, 220, 0.8);
}
.coin{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.coinLine{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    width:100px;
}
.coin img {
    height: 40px;
    width: 40px;
    margin: 5px;
  }