.Container {
    display: flex;
    
}
.coinRow{
    margin: 2px 10px;
    
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.coin{
    border: 1px solid;
    display: flex;
    flex: 1;
    flex-direction: row;
}
.coinLine{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    width:100px;
}
.coin img {
    height: 50px;
    width: 50px;
    margin: 5px;
  }